@import '../../colors';

.top-bar {
    .logo {
        max-height: 100px;
        width: auto;
    }
}

.background {
    background-color: $darkgrey;
}

.main {
    width: calc(100% - 200px);
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 45px;
    color: rgb(38, 38, 38);
}

.menu {
    padding: 0;
    color: #f4f4f4;
    max-width: 200px;
    min-height: 100%;
    background-color: $asphalt;

    i.fa {
        float: left;
        font-size: 30px;
        text-align: center;
        transition-duration: 0.3s;

        max-width: 30px;
        max-height: 30px;
    }

    li {

        a {
            padding: 15px;
            float: left;
            width: 100%;
            &.router-link-active, &:hover {
                background-color: rgba(245, 245, 245, 0.18);
                color: white;
            }
        }

        width: 100%;
        position: relative;
        cursor: pointer;
        float: left;
        &:hover {
            i.fa {
                font-size: 35px;
            }
        }

        .badge {
            background-color: #e74c3c;
            width: auto;
            line-height: 60%;
            margin-top: 5px;
            padding: 5px;
            font-size: 15px;
            border-radius: 0;
        }
    }

    span {
        text-align: center;
        float: left;
        padding: 5px 20px;
    }
}

.user-wrapper {
    position: absolute;
    right: 0;
    z-index: 10;
    padding: 15px;
    padding-top: 0;
    color: black;

    img.thumb {
        width: 55px;
        border-radius: 50%;
        border: 3px solid black;
        float: left;
        margin-right: 10px;
        margin-top: -5px;
    }
}
