node_modules/
bower_components/
.idea
typings
dist/**/*
coverage
.env
mia-darwin-x64
bachelor.pem
npm-debug.log

distributed
!distributed/package.json
!distributed/.npmignore

production/**/*
!production/index.html
!production/package.json
