<div class="app-meta-picker-wrapper">
    <div class="container">
        <div class="row">

            <div *ngIf="!hideApplication" class="dropdown col-xs-12 col-sm-4">

                <span class="wrapper">
                    <li class="headline">Service</li>
                </span>
                <ul class="application-picker">
                    <li *ngFor="let item of applications; let i = index" (click)="selectApplication(item._id)"
                        [ngClass]="{active: _applicationMetaPickerService.activeApp === item._id}">
                        {{item.name}}
                    </li>
                </ul>
            </div>

            <div class="dropdown col-xs-12 col-sm-5 timestamps">
                <span class="wrapper">
                    <li class="headline">Period</li>
                </span>
                <ul>
                    <li *ngFor='let key of queryKeys()' (click)="selectQuery('?since=' + key)"
                        [ngClass]="{active: _applicationMetaPickerService.activePeriod === '?since=' + key}">
                        {{queries[key]}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
