<div class="app-meta-picker-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-sm-4 dropdown">

                <select (change)="selectApplication($event.target.value)" name="Applications">
                    <option *ngFor="let item of applications; let i = index" value="{{item._id}}">{{item.name}}</option>
                </select>

            </div>

            <div class="col-sm-4 timestamps">
                <!--   <li (click)="selectQuery('?since=7d')">7 days</li>
                   <li (click)="selectQuery('?since=2d')">2 days</li>
                   <li (click)="selectQuery('?since=1d')">1 day</li>
                   <li (click)="selectQuery('?since=12h')">12 hours</li>
                   <li (click)="selectQuery('?since=6h')">6 hours</li>
                   <li (click)="selectQuery('?since=3h')">3 hours</li>
                   <li (click)="selectQuery('?since=1h')">1 hour</li>
                   <li (click)="selectQuery('?since=30m')">30 minutes</li>
                   <li (click)="selectQuery('?since=15m')">15 minutes</li>
                   <li (click)="selectQuery('?since=5m')">5 minutes</li> -->

                <li *ngFor='let key of queryKeys()' (click)="selectQuery('?since=' + key)">{{queries[key]}}</li>

            </div>
        </div>
    </div>
</div>
