select {
    float: left;
    margin-left: 15px;
    min-width: 200px;

    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 15px;
    margin-top: 13px;
}

li {
    float: left;
    padding: 5px;
    margin-right: 5px;
    list-style: none;
    background-color: #34495e;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}