@import '../../colors';

select {
    float: left;
    margin-left: 15px;
    min-width: 200px;

    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 15px;
    margin-top: 13px;
}

li {
    float: left;
    margin-right: 5px;
    list-style: none;
    background-color: $cyan;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 3px;
    padding: 5px 10px;
    &.active {
        background-color: $yellow;
    }
    &.headline {
        background: none;
        border-bottom: 3px solid #ecc64b;
        padding: 0;
        margin-bottom: 15px;
        float: left;
    }

}

.dropdown {
    .wrapper {
        width: 100%;
        float: left;
    }

    background: whitesmoke;
    border-right: 15px solid white;
    padding: 15px;

}
