<div class="row costumer-wrapper">
    <div class="col-xs-12 col-sm-4 col-md-3 costumer" *ngFor="let item of applications; let i = index">
        <div [ngStyle]="{'border-color': item.color}" class="inner-wrapper">
            <div class="color" [ngStyle]="{'background-color': item.color}"></div>
            <div class="content">
                <h4>{{item.name}}</h4>

                <div class="actions">
                    <a class="pointer"><i _ngcontent-kkc-3="" aria-hidden="true" class="fa fa-pencil"></i>Edit</a>
                    <a class="pointer" (click)="copyToken(app_token)">
                        <i _ngcontent-kkc-3="" aria-hidden="true"
                           class="pointer fa fa-files-o"></i>Copytoken</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="applications.length" (click)="_newApplicationModal.show()" class="col-xs-12 col-md-3 col-sm-4 costumer create pointer">
        <div class="inner-wrapper">
            <div class="content">
                <h3>Create New Application</h3>
            </div>
        </div>
    </div>

    <div (click)="_newApplicationModal.show()" *ngIf="!applications.length"
         class="pointer placeholder col-xs-12 col-sm-3">
        <h4>There are no applications for your system, create one</h4>
    </div>
</div>


<new-application (update)="update($event)"></new-application>
