@import '../../../colors';

.nav {
    li + li {
        margin-left: 5px;
    }

    li {
        a {
            background-color: $grey;
            color: white;
            border-radius: 0;
            padding: 0 15px;
            line-height: 32px;
            text-transform: uppercase;
        }

        &.active a {
            background-color: $yellow;
        }
    }

}

