@import '../../../colors';

.nav {

    li {
        width: 50%;
        margin: 0 !important;
    }

    li + li {
        margin-left: 5px;
    }

    li {
        a {
            background-color: $grey;
            border-radius: 0;
            padding: 0 15px;
            line-height: 32px;
            text-transform: uppercase;
        }

        &.active a {
            background-color: $red;
        }
    }

}

