@import 'colors';

.modal-wrapper {
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: 100;
    border-left: 3px solid $green;
    padding: 15px;
    background-color: white;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    h4 {
        line-height: 150%;
    }

    max-width: 40vw;

    &.error {
        border-left: 3px solid $red;
    }

    input, textarea {
        background-color: whitesmoke;
    }

    .btn.btn-default:hover {
        background-color: $green;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 25px;
    cursor: pointer;
    z-index: 30;
}

.full-wrapper {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.full-wrapper.visible {
    opacity: 1;
    visibility: visible;
    .modal-wrapper {
        top: 20%;
    }
}
// modal end

.placeholder {
    padding: 15px;
    background-color: whitesmoke;
}