<h2 class="headline">Dashboard</h2>
<div *ngIf="appCount" class="row">
    <div class="col-xs-12 col-sm-10 dashboard-text space-top">
        <h3 *ngIf="systemName" class="text"><span class="">{{systemName}}</span> is running <span class="yellow">{{appCount}}</span>
            applications and has an uptime of <span class="green">2 days and 3 hours.</span>
        </h3>
        <h3>current all-time uptime is 2 weeks</h3>
        <h3 *ngIf="apps" class="text"><span class="">{{apps[0].name}}</span> crashed <span
                class="red">1 hour ago</span>
        </h3>
    </div>
</div>

<div *ngIf="!appCount" class="row">
    <div class="col-xs-12 col-sm-10 dashboard-text space-top">
        <h3 *ngIf="systemName" class="text">{{systemName}} has no applications</h3>
    </div>
</div>