@import '../../colors';

.startStop-item {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;

    &.startup {
        border-left: 2px solid $green;
        background-color: $green_opac;
    }

    &.shutdown {
        border-left: 2px solid $red;
        background: $red_opac;
    }
}