<h2 class="headline">Traces</h2>
<div class="fullwidth space-bottom traces">

    <div *ngFor="let trace of traces" class="trace pointer col-xs-12 col-sm-8"
         [routerLink]="['Trace', {traceId:trace.request.traceId}]">
        <span class="bold fullwidth">TraceId: {{trace.request.traceId}}</span>
        <span class="bold">{{trace.receiver.name}}</span> {{trace.request.name}}
        <div class="fullwidth">Duration: {{trace.request.duration / 1000}}ms</div>
    </div>

    <div *ngIf="!traces.length"
         class="pointer placeholder col-xs-12 col-sm-5">
        <span>There are no traces</span>
    </div>

</div>

<loading [spinning]="loading"></loading>